@charset "UTF-8";


p {
    font: "Roboto";
    color: #a5bda1;
    font-size: 75px;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    display: inline-block;
}

p2 {
    font: "Roboto";
    color: #a5bda1;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

p3 {
    font: "Monospace";
    color: #a5bda1;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    display: inline-block;
}

table {
    padding-top: 100px;
    width: 100%;
}

th {
    color: #374335;
}
td {
    color: #374335;
    border: 2px solid #a5bda1;
    border-collapse: separate;
    padding: 20px;
}

td:active {
    color: #374335;
}