@charset "UTF-8";



header div {
	float: left;
	align-self: center;
	margin: 100px;
}

ul {
	background-color: #a5bda1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: stretch;
	list-style-type: none;
	
}

li a {
	text-align: center;
	position: relative;
	margin: 0px;
	float: left;
	padding: 20px;
	color: #374335;
	text-decoration: none;
	margin-left: 50px;
}


a:hover {
	text-decoration: underline;
}

html {
	font-family: "Roboto";
}

body {
	background-color: #f3f0dd;
}



footer {

	text-align: center;
	background: #a5bda1;
    color: #f3f0dd;
	padding-top: 50px;
    padding-bottom: 50px;

}

footer > a{
	color: #f3f0dd;
}